<?xml version="1.0" encoding="utf-8" standalone="yes"?> 
<settings>
	<category label="30000">
        <setting label="30001" id="itemsPerPage" type="text" default="100"/>
        <setting label="30002" id="searchSortMethod" type="enum" lvalues="30003|30004|30005" default="0"/>
    </category>
    <category label="30010">
        <setting label="30011" id="vkUserLogin" type="text" default=""/>
        <setting label="30012" id="vkUserPassword" type="text" option="hidden" default=""/>
        <setting label="30013" id="vkUserPhone" type="text" default=""/>
        <setting label="30014" id="vkUserAccessToken" type="text" enable="false" default=""/>
    </category>
</settings>
