<?xml version="1.0" encoding="utf-8" standalone="yes"?> 
<settings>
    <category label="30000">
        <setting label="30002" id="itemsperpage" type="number" default="100"/>
        <setting label="30003" id="forcevideoviewmode" type="bool" default="true"/>
            <setting label="30004" id="forcevideoviewmodeid" subsetting="true" visible="eq(-1,true)" type="number" default="500"/>
        <setting type="sep"/>
        <setting label="30005" id="searchadult" type="bool" default="true"/>
        <setting label="30006" id="searchown" type="bool" default="false"/>
        <setting label="30007" id="searchduration" type="enum" lvalues="30008|30009|30010" default="0"/>
            <setting label="30011" id="searchdurationmins" subsetting="true" visible="!eq(-1,0)" type="number" default="60"/>
        <setting label="30012" id="searchsort" type="enum" lvalues="30013|30014|30015" default="0"/>
    </category>
    <category label="30001">
        <setting label="30016" id="vkuseraccesstoken" type="text" default=""/>
        <setting label="30017" id="vkuserlogout" visible="!eq(-1,)" type="action" action="RunPlugin(plugin://plugin.video.vk/logout)"/>
    </category>
</settings>
